<ion-view view-title="Project eSched.me">
  <ion-content class="content-body padding">
    <section class="chats">

      <span>
        <span ng-repeat="msg in vm.data">
          <span class="system-msg" ng-if="msg.sender_id == -1">
            {{msg.message}}
          </span>
        </span>
        <span>
          <p class="username">Adan France Cruz</p>
          <!-- Possibly use ng-class for class changing here -->
          <div class="from-them">
            <p>New module updated!</p>
          </div>
          <div class="from-me">
            <p>Thanks. Keep on working hard :)</p>
          </div>
          <div class="clear"></div>
        </span>
        <span>
          <p class="notification"></p>
        </span>
      </span>

    </section>
  </ion-content>

  <form name="sendMessageForm" novalidate>
      <ion-footer-bar class="bar-stable item-input-insetmessage-footer" keyboard-attach>
              <input id="msg-input" class="input-message" type="text" placeholder="Message">
              <div class="footer-btn-wrap">
                <button class="button button-icon icon ion-ios-paperplane footer-btn" style="float:right;" type="submit">
                </button>
              </div>
      </ion-footer-bar>
  </form>
</ion-view>
