<ion-view view-title="Message Thread">
  <ion-content class="content-body padding">
    <section class="chats">

      <span ng-repeat="msg in vm.messages | orderBy: 'created'" >
          <!--TODO : Parent Message not appearing because of null-->
        <p ng-hide="msg.sender_id == vm.user_id" class="username">{{msg.sender.data.first_name}} {{msg.sender.data.last_name}}</p>
        <!-- Possibly use ng-class for class changing here -->
        <div ng-hide="msg.sender_id == vm.user_id" class="from-them">
          <p>{{msg.message}}</p>
        </div>
        <div ng-show="msg.sender_id == vm.user_id" class="from-me">
          <p>{{msg.message}}</p>
        </div>
        <div class="clear"></div>
      </span>
      <span>
        <p class="notification"></p>
      </span>

    </section>
  </ion-content>
  <form name="sendMessageForm" novalidate>
      <ion-footer-bar class="bar-stable item-input-insetmessage-footer" keyboard-attach>
              <input ng-model="chatMessage" id="msg-input" class="input-message" type="text" placeholder="Message">
              <div class="footer-btn-wrap">
                <button ng-click="vm.sendMessage(vm.receiver_id, chatMessage)" class="button button-icon icon ion-ios-paperplane footer-btn" style="float:right;" type="submit">
                </button>
              </div>
      </ion-footer-bar>
  </form>
</ion-view>
