<ion-view view-title="Project eSched.me">
  <ion-content class="content-body padding">
    <section class="chats">

      <span ng-repeat="msg in vm.data">
        <span>
          <!-- <span class="system-msg" ng-if="msg.sender_id == -1">
            {{msg.message}}
            <span am-time-ago="msg.created"></span>
          </span> -->
        </span>
        <span ng-if="msg.sender_id != -1">
          <p ng-hide="msg.sender_id == vm.user_id" class="username">{{msg.user.first_name + ' ' + msg.user.last_name}}</p>

          <div class="from-them" ng-if="msg.sender_id != vm.user_id">
            <p>{{msg.message}}</p>
            <span am-time-ago="msg.created"></span>
          </div>
          <div class="from-me" ng-if="msg.sender_id == vm.user_id">
            <p>{{msg.message}}</p>
            <span am-time-ago="msg.created"></span>
          </div>
          <div class="clear"></div>
        </span>
        <span>
          <p class="notification"></p>
        </span>
      </span>

    </section>
  </ion-content>

  <form name="sendMessageForm" novalidate>
      <ion-footer-bar class="bar-stable item-input-insetmessage-footer" keyboard-attach>
              <input id="msg-input" class="input-message" type="text" placeholder="Message" ng-model="vm.msgToSend">
              <div class="footer-btn-wrap">
                <button ng-click="vm.sendGroupMessage(vm.msgToSend)" class="button button-icon icon ion-ios-paperplane footer-btn" style="float:right;" type="submit">
                </button>
              </div>
      </ion-footer-bar>
  </form>
</ion-view>
