<ion-side-menus enable-menu-with-back-views="false" hide-back-button="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-calm">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-search" menu-toggle="right">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-calm">
      <h1 class="title">eSched.me</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close ui-sref="dashboard.profile">
          Profile
        </ion-item>
        <ion-item menu-close ui-sref="dashboard.newsfeed">
          Notification
        </ion-item>
        <ion-item menu-close ui-sref="dashboard.tags">
          Tag Requests
        </ion-item>
        <ion-item menu-close ui-sref="dashboard.project">
          Projects
        </ion-item>
        <ion-item menu-close ui-sref="dashboard.inbox">
          Inbox
        </ion-item>
        <ion-item menu-close ui-sref="dashboard.friend">
          Associates
        </ion-item>
        <ion-item menu-close ui-sref="dashboard.timeline">
          Meeting Summary
        </ion-item>
        <ion-item menu-close class="item-blue" href="" ng-click="dataCtrl.signout()">
          Logout
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>


  <ion-side-menu side="right">
    <ion-header-bar class="bar-calm">
      <input type="text" class="search-input" ng-model="dataCtrl.searchInput" ng-change="dataCtrl.filterUsers()" placeholder="Search people..." style="color:#fff;">
    </ion-header-bar>
    <ion-content>
      <div class="search-result">
        <ion-list>
          <ion-item menu-close ng-repeat="result in dataCtrl.searchResult | filter: dataCtrl.searchInput" href="#/dashboard/user/{{result.id}}" ng-if="result.id != -1">
            {{result.first_name}} {{result.last_name}}
          </ion-item>
        </ion-list>
      </div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
