<ion-view view-title="Associates">
  <ion-content class="content-body">
    <ion-list>
      <ion-item ng-repeat="request in friend.requests" ui-sref="dashboard.otheruser({id: request.id})">
        <img ng-if="request.img_name" class="post-profile-image" ng-src="https://esched.me/prof_imgs/{{request.img_name}}">
        <img class="post-profile-image" ng-hide="request.img_name" src="./img/no-image.jpg">
        {{request.first_name}} {{request.last_name}}
	    <ion-option-button class="button-calm" ng-click="friend.approveRequest(request.id)">Accept</ion-option-button>
	    <ion-option-button class="button-assertive" ng-click="friend.deleteRequest(request.id)">Ignore</ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>

<ion-tabs class="tabs-striped tabs-icon-top tabs-background-calm tabs-color-stable">

	  <ion-tab title="Follow Requests" icon-on="ion-person" icon-off="ion-person">

  	  </ion-tab>

      <ion-tab title="Associate List" icon-on="ion-android-clipboard" icon-off="ion-android-clipboard">
	    <ion-content class="content-body">
	        <div style="margin-top: 44px;"></div>
          <ion-list>
			      <ion-item ng-repeat="person in friend.friends" ui-sref="dashboard.otheruser({id: person.id})">
              <img ng-if="person.img_name" class="post-profile-image" ng-src="https://esched.me/prof_imgs/{{person.img_name}}">
			        <img class="post-profile-image" ng-hide="person.img_name" src="./img/no-image.jpg">
			        {{person.first_name}} {{person.last_name}}
  				    <ion-option-button class="button-calm" ng-click="friend.openModalMessageAssociate(person.id)">Message</ion-option-button>
  				    <ion-option-button class="button-assertive" ng-click="friend.deleteRequest(person.id)">Unfollow</ion-option-button>
			      </ion-item>
			    </ion-list>
	    </ion-content>
	  </ion-tab>
</ion-tabs>
</ion-view>
