<ion-view view-title="Inbox">
  <ion-content class="content-body">
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/dashboard/chat">
        <img ng-src="./img/no-image.jpg">
        <h2>Adan France Cruz</h2>
        <p>'Sup? Need my join algorithms?</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
