<ion-view view-title="Modules" ng-controller="ModuleCtrl as moduleCtrl">
  <ion-content class="content-body">
    <div class="list card" ng-if="moduleCtrl.modules" ng-repeat="module in moduleCtrl.modules">
      <div class="item">
        <p>{{module.name}}</p>
      </div>
      <div class="item item-body">

        {{module.desc}}
        <br><br>
        <span>Start: {{module.start | date: 'MMMM dd, y'}}</span> <br>
        <span>End: {{module.end | date: 'MMMM dd, y'}}</span>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" ng-click="moduleCtrl.openModalSummaryModule(module)">
          <i class="icon ion-android-list" style="font-size: 12;"></i>
          Summary
        </a>
        <p>|</p>
        <a class="tab-item" ng-click="moduleCtrl.deleteModule(module.id)">
          <i class="icon ion-android-cancel"></i>
          Delete
        </a>
      </div>
    </div>
  </ion-content>
  <ion-floating-button ng-click="moduleCtrl.openModalCreateModule()" button-color="#11c1f3" icon="ion-plus" icon-color="#fff">
  </ion-floating-button>
</ion-view>
