<ion-view view-title="Modules" ng-controller="ModuleCtrl as moduleCtrl">
  <ion-content class="content-body">
    <div class="list card" ng-repeat="moduleCtrl.modules">
      <div class="item">
        <p>Sample Module</p>
      </div>
      <div class="item item-body">

        Module objective

      </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item">
          <i class="icon ion-android-list" style="font-size: 12;"></i>
          Summary
        </a>
        <p>|</p>
        <a class="tab-item">
          <i class="icon ion-android-cancel"></i>
          Delete
        </a>
      </div>
    </div>
  </ion-content>
  <ion-floating-button ng-click="moduleCtrl.openModalCreateModule()" button-color="#11c1f3" icon="ion-plus" icon-color="#fff">
  </ion-floating-button>
</ion-view>
