<ion-view view-title="Updates">
  <ion-content class="content-body">

     <section id="cd-timeline" class="cd-container">
		<div> <!-- For ng-repeat in the future -->
			
          <div class="cd-timeline-block">
            <div class="cd-timeline-icon text-center calm">
              <i class="ion-android-textsms timelineIcon"></i>
            </div>

            <div class="cd-timeline-content padding calm">
            	<h5 class="marginBottom0 marginTop0">Test Item Newsfeed</h5>
            	<p class="marginTop5 cd-author">by Rugie Barrameda on September 22, 2016</p>
            	<p class="timelineText">Updated Project X</p>
            </div>
          </div>

          <div class="cd-timeline-block">

            <div class="cd-timeline-icon text-center calm">
              <i class="ion-ios-videocam timelineIcon"></i>
            </div>

            <div class="cd-timeline-content padding calm">
            	<h5 class="marginBottom0 marginTop0">Test Item Newsfeed</h5>
            	<p class="marginTop5 cd-author">by Rugie Barrameda on September 22, 2016</p>
            	<p class="timelineText">Updated Project X</p>
            </div>
          </div>

          <div class="cd-timeline-block">

            <div class="cd-timeline-icon text-center calm">
              <i class="ion-image timelineIcon"></i>
            </div>

            <div class="cd-timeline-content padding calm">
            	<h5 class="marginBottom0 marginTop0">Test Item Newsfeed</h5>
            	<p class="marginTop5 cd-author">by Rugie Barrameda on September 22, 2016</p>
            	<p class="timelineText">Updated Project X</p>
            </div>
          </div>

          <div class="cd-timeline-block">

            <div class="cd-timeline-icon text-center calm">
              <i class="ion-location timelineIcon"></i>
            </div>

            <div class="cd-timeline-content padding calm">
            	<h5 class="marginBottom0 marginTop0">Test Item Newsfeed</h5>
            	<p class="marginTop5 cd-author">by Rugie Barrameda on September 22, 2016</p>
            	<p class="timelineText">Updated Project X</p>
            </div>
          </div>

		</div>

     </section>

  </ion-content>
</ion-view>
