
<ion-view view-title="{{profile.user[0].first_name}} {{profile.user[0].last_name}}" ng-controller="ProfileCtrl as profile">
   <ion-content class="content-body">

      <div id="profile-bg"></div>
      <div id="content">
        <div id="profile-info">
          <img id="profile-image" src="http://i1.kym-cdn.com/photos/images/newsfeed/000/928/382/397.jpg">
          <!-- Replace image of user here -->
          <h3 id="profile-name">{{profile.user[0].first_name}} {{profile.user[0].last_name}}</h3>
          <span id="profile-description" class="padding">Secretary</span><br>
          <button ng-if="profile.id !== profile.userId">Follow!</button>
        </div>
        <ion-list>
          <ion-item>
            <img class="post-profile-image" src="http://i1.kym-cdn.com/photos/images/newsfeed/000/928/382/397.jpg">
            Sample
    		<ion-option-button class="button-assertive">Delete</ion-option-button>
          </ion-item>
          <ion-item>
            <img class="post-profile-image" src="http://i1.kym-cdn.com/photos/images/newsfeed/000/928/382/397.jpg">
            Sample
    		<ion-option-button class="button-assertive">Delete</ion-option-button>
          </ion-item>
          <ion-item>
            <img class="post-profile-image" src="http://i1.kym-cdn.com/photos/images/newsfeed/000/928/382/397.jpg">
            Sample
    		<ion-option-button class="button-assertive">Delete</ion-option-button>
          </ion-item>
          <ion-item>
            <img class="post-profile-image" src="http://i1.kym-cdn.com/photos/images/newsfeed/000/928/382/397.jpg">
            Sample
    		<ion-option-button class="button-assertive">Delete</ion-option-button>
          </ion-item>
        </ion-list>
      </div>


   </ion-content>

	<ion-tabs class="tabs-striped tabs-icon-top tabs-background-calm tabs-color-stable" ng-if="profile.userId === profile.id">

		  <ion-tab title="Profile" icon-on="ion-person" icon-off="ion-person">

	  	  </ion-tab>

	      <ion-tab title="Personal Tasks" icon-on="ion-android-clipboard" icon-off="ion-android-clipboard">
        <ion-content class="content-body">
            <div style="margin-top: 64px;"></div>
            <div class="list card">
              <div class="item item-button-right">
                <p>Task Example</p>
              </div>
              <div class="item item-body" style="border-bottom: 1px solid #ddd;">

                Task Description

              </div>
              <div class="item tabs tabs-icon-left" style="background: #fff;">
                <a class="tab-item" style="background: #fff; color: #3f3f3f;">
                  <i class="icon ion-android-list"></i>
                  Summary
                </a>
                <p>|</p>
                <a class="tab-item" style="background: #fff; color: #3f3f3f;">
                  <i class="icon ion-android-cancel"></i>
                  Delete
                </a>
              </div>
            </div>
        </ion-content>
		  </ion-tab>
          <ion-floating-button ng-click="dataCtrl.openModalCreateProject()" button-color="#fff" icon="ion-plus" icon-color="#11c1f3" >
          </ion-floating-button>
	</ion-tabs>
</ion-view>
