
<ion-view view-title="{{dataCtrl.user[0].first_name}} {{dataCtrl.user[0].last_name}}">
   <ion-content class="content-body">
   		<h1>Soon to be your Profile, {{dataCtrl.user[0].first_name}}</h1>
   </ion-content> 		
	
	<ion-tabs class="tabs-striped tabs-icon-top tabs-background-stable tabs-color-calm">

		  <ion-tab title="Profile" icon-on="ion-person" icon-off="ion-person">

	  	  </ion-tab>

	      <ion-tab title="About" icon-on="ion-ios-world" icon-off="ion-ios-world">
			  <ion-content class="content-body">
			  	<br>
		    	<h1>About information for {{dataCtrl.user[0].first_name}} goes here</h1>
			  </ion-content class="content-body">
	      </ion-tab>

	      <ion-tab title="Personal Tasks" icon-on="ion-android-clipboard" icon-off="ion-android-clipboard">
			  <ion-content class="content-body">
			  	<br>
		    	<h1>{{dataCtrl.user[0].first_name}}'s personal tasks</h1>
			  </ion-content>
		  </ion-tab>

	</ion-tabs>
</ion-view>
