<ion-view view-title="Projects">
  <ion-content class="content-body">

    <div class="list card" ng-repeat="project in vm.projects.data" >
      <div class="item item-button-right">
        <p>{{project.title}}</p>
        <div class="buttons" ng-click="vm.projectPopover($event, project)" style="padding-left: 20px;"><span class="icon ion-more"></span></div>
      </div>
      <div class="item item-body" style="border-bottom: 1px solid #ddd;">
        <span style="font-size: 12px; color: #3f3f3f;">Project Manager: {{project.user.data.first_name}} {{project.user.data.last_name}}</span> <br>
        <span style="font-size: 12px; color: #3f3f3f;">Duration: {{project.start | date: 'MMMM dd, y'}} to {{project.end | date: 'MMMM dd, y'}}</span><br>
        <span style="font-size: 12px; color: #3f3f3f;">Status: {{project.status}}</span><br><br>
        {{project.desc}}
      </div>
      <div class="item tabs tabs-icon-left" style="background: #fff;">
        <a class="tab-item" ng-click="vm.projectSummary(project)" style="background: #fff; color: #000;">
          <i class="icon ion-android-list" style="font-size: 12;"></i>
          Summary
        </a>
        <p>|</p>
        <a class="tab-item" ng-click="showModules = ! showModules" style="background: #fff; color: #000;">
          <i class="icon ion-android-clipboard"></i>
          Modules
        </a>
      </div>
      <!--<ion-list ng-show="showModules">-->
        <!--<ion-item ng-repeat="module in project.modules.data">-->
          <!--{{module.title}} - {{module.description}}-->
        <!--</ion-item>-->
      <!--</ion-list>-->
      <div class="card" ng-show="showModules" ng-controller="ModuleCtrl as vm" ng-repeat="module in project.modules.data">
        <div class="item item-divider">
          {{module.title}}
        </div>
        <div class="item item-text-wrap">
          {{module.description}}
        </div>
        <div class="item item-divider">
          <button class="button button-positive">
            More Info
          </button>
          <button class="button button-stable">
            Show Submodules
          </button>
        </div>
      </div>
      <button ng-show="showModules" class="button button-block button-balanced">
        Add Module
      </button>
    </div>


    <br>
    <br>
    <br>
    <br>
  </ion-content>

  <ion-floating-button
    ng-click="vm.createProject()" button-color="#fff" icon="ion-plus" icon-color="#11c1f3">
  </ion-floating-button>

    <ion-tabs class="tabs-striped tabs-icon-top tabs-background-calm tabs-color-stable">

        <ion-tab title="Your Projects" icon-on="ion-person" icon-off="ion-person">

        </ion-tab>

        <ion-tab title="Tagged Projects" icon-on="ion-android-clipboard" icon-off="ion-android-clipboard">
        <ion-content class="content-body">
            <div style="margin-top: 64px;"></div>
            <div class="list card" ng-repeat="project in vm.user.tagged_activities.data">
              <div class="item item-button-right">
                <p>{{project.title}}</p>
              </div>
              <div class="item item-body" style="border-bottom: 1px solid #ddd;">
                <span style="font-size: 12px; color: #3f3f3f;">Project Manager: {{project.user.data.first_name}} {{project.user.data.last_name}}</span> <br>
                <span style="font-size: 12px; color: #3f3f3f;">Duration: {{project.start | date: 'MMMM dd, y'}} to {{project.end | date: 'MMMM dd, y'}}</span> <br><br>
                {{project.desc}}

              </div>
              <div class="item tabs tabs-icon-left" style="background: #fff;">
                <a class="tab-item" ng-click="dataCtrl.openModalSummaryProject(project.id)" style="background: #fff; color: #3f3f3f;">
                  <i class="icon ion-android-list"></i>
                  Summary
                </a>
                <p>|</p>
                <a class="tab-item" ng-click="dataCtrl.openProjectModules(project)" style="background: #fff; color: #3f3f3f;">
                  <i class="icon ion-android-clipboard"></i>
                  Modules
                </a>
              </div>
            </div>
        </ion-content>
      </ion-tab>

  </ion-tabs>

</ion-view>
