<ion-view view-title="Your Projects">
  <ion-content class="content-body">

    <div class="list card" ng-repeat="project in dataCtrl.projectList">
      <div class="item">
        <p>{{project.title}}</p>
      </div>
      <div class="item item-body">

        {{project.desc}}

      </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" ng-click="dataCtrl.openModalSummaryProject(project.id)">
          <i class="icon ion-android-list" style="font-size: 12;"></i>
          Summary
        </a>
        <p>|</p>
        <a class="tab-item" href="#">
          <i class="icon ion-android-clipboard"></i>
          Modules
        </a>
        <p>|</p>
        <a class="tab-item" ng-click="dataCtrl.deleteProjectById(project.id)">
          <i class="icon ion-android-cancel"></i>
          Delete
        </a>
      </div>
    </div>

  </ion-content>

  <ion-floating-button ng-click="dataCtrl.openModalCreateProject()" button-color="#11c1f3" icon="ion-plus" icon-color="#fff">
  </ion-floating-button>
  
</ion-view>
