<ion-view>
    <ion-content scroll="false">
        <section class="login-container">
            <div class = "col header text-center esched-img">
               <img src="./img/esched-eclock.png" class = "logo" />
            </div>
            <div class = "col signUp">
            	<div class="text-center ad-text">Sign in to eSched.me to start your day.</div>
	            <div class = "button-row text-center" ng-click="signup.socialSignIn('facebook')">
	               <a href=""><img src="./img/facebook-button.png" /></a>
	            </div>
	            <div class = "button-row text-center">
	               <a href="#/signup-form"><img src="./img/email-button.png" /></a>
	            </div>
	            <div class = "text-center">
	                Already have an account? <strong><a href = "#/" >Sign in now!</a></strong>
	            </div>
            </div>
        </section>
    </ion-content>
</ion-view>
