<ion-view view-title="Submodules" ng-controller="SubmoduleCtrl as ctrl">
  <ion-content class="content-body">
    <div class="list card" ng-repeat="submodule in ctrl.module.submodules">
      <div class="item item-button-right">
        <p>{{submodule.title}}</p>
        <div class="buttons" ng-click="ctrl.editSubmoduleModal(submodule.id)" style="padding-left: 20px;"><span class="icon ion-more"></span></div>
      </div>
      <div class="item item-body">
        <span style="font-size: 12px; color: #3f3f3f;">Module Title:</span> <br><br>
        {{submodule.description}}
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" style="background: #fff; color: #000;">
          <i class="icon ion-android-list"></i>
          Summary
        </a>
        <p>|</p>
        <a class="tab-item" style="background: #fff; color: #000;">
          <i class="icon ion-android-cancel"></i>
          Delete
        </a>
      </div>
    </div>
  </ion-content>
  <ion-floating-button ng-if="ctrl.remainingPercentage !== 0" ng-click="ctrl.createSubmoduleModal()" button-color="#fff" icon="ion-plus" icon-color="#11c1f3">
  </ion-floating-button>
</ion-view>

