  <ion-popover-view style="height: 260px;">
    <ion-header-bar>
      <h1 class="title">Meeting Options</h1>
    </ion-header-bar>
    <ion-content>
       <ion-list>
        <ion-item menu-close ng-click="">
        <i class="icon ion-ios-checkmark"></i>&nbsp;&nbsp;&nbsp;
          Mark as Completed
        </ion-item>
        <ion-item menu-close ng-click="">
		    <i class="icon ion-android-map"></i>&nbsp;&nbsp;&nbsp;
          View Directions
        </ion-item>
        <ion-item menu-close ng-click="">
          <i class="icon ion-edit"></i>&nbsp;&nbsp;&nbsp;
          Edit
        </ion-item>
        <ion-item menu-close ng-click="">
          <i class="icon ion-android-cancel"></i>&nbsp;&nbsp;&nbsp;
          Delete
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-popover-view>
