  <ion-popover-view style="height: 260px;">
    <ion-header-bar>
      <h1 class="title">Modules Options</h1>
    </ion-header-bar>
    <ion-content>
       <ion-list>
        <ion-item menu-close ng-if="!(vm.module.status === 'Completed')" ng-click="vm.editModule(module)">
          <i class="icon ion-edit"></i>&nbsp;&nbsp;&nbsp;
          Edit
        </ion-item>
        <ion-item menu-close ng-if="!(vm.module.status === 'Completed')" ng-click="vm.deleteModule()">
          <i class="icon ion-android-cancel"></i>&nbsp;&nbsp;&nbsp;
          Delete
        </ion-item>
        <ion-item menu-close ng-click="">
        <i class="icon ion-android-person-add"></i>&nbsp;&nbsp;&nbsp;
          Assign Associate
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-popover-view>
