  <ion-popover-view style="height: 260px;">
    <ion-header-bar>
      <h1 class="title">Project Options</h1>
    </ion-header-bar>
    <ion-content>
       <ion-list>
        <ion-item menu-close ng-click="editProject(project)">
          <i class="icon ion-edit"></i>&nbsp;&nbsp;&nbsp;
          Edit
        </ion-item>
        <ion-item menu-close ng-click="deleteProject(project.id)">
          <i class="icon ion-android-cancel"></i>&nbsp;&nbsp;&nbsp;
          Delete
        </ion-item>
        <ion-item menu-close ng-click="">
		    <i class="icon ion-android-map"></i>&nbsp;&nbsp;&nbsp;
          Set Meeting
        </ion-item>
        <ion-item menu-close ng-click="openTagModal(project)">
        <i class="icon ion-android-contacts"></i>&nbsp;&nbsp;&nbsp;
          Tag Associates
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-popover-view>
