  <ion-popover-view style="height: 280px;">
    <ion-header-bar>
      <h1 class="title">Project Options</h1>
    </ion-header-bar>
    <ion-content>
       <ion-list>
        <ion-item menu-close ng-click="openEditModal(project.id)">
          <i class="icon ion-edit"></i>
          Edit
        </ion-item>
        <ion-item menu-close ng-click="deleteProjectById(project.id)">
          <i class="icon ion-android-cancel"></i>
          Delete
        </ion-item>
        <ion-item menu-close ng-click="">
		    <i class="icon ion-android-map"></i>
          Set Meeting
        </ion-item>
        <ion-item menu-close ng-click="">
        <i class="icon ion-contact"></i>
          Tag Associates
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-popover-view>
