<ion-modal-view class="ion-nifty-modal">
  <div class="ion-modal-content-custom">
    <ion-content class="padding">
      <button class="button button-medium button-stable" ng-click="closeModal()" type="button">
        Cancel
      </button>
      <form action="">
        <div class="row">
          <div class="col">
            <div class="group">
              <input type="text" id="name" name="name" ng-model="dataCtrl.project.name" required>
              <span class="highlight"></span>
              <span class="bar-input"></span>
              <label>Project Name</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="group">
              <input type="text" id="description" name="description" ng-model="dataCtrl.project.description" required>
              <span class="highlight"></span>
              <span class="bar-input"></span>
              <label>Core Objective</label>
            </div>
          </div>
        </div>
        <button type="button" class="button button-medium button-calm" type="button"
                ng-click="createProject(dataCtrl.project.name, dataCtrl.project.description)">
          Create Project
        </button>
      </form>
    </ion-content>
  </div>
</ion-modal-view>
