<ion-modal-view class="ion-nifty-modal">
  <ion-header-bar class="bar-calm">
    <h1 class="title">New Project</h1>
    <div class="button button-clear" ng-click="closeModal()"><span class="icon ion-close"></span></div>
  </ion-header-bar>
  <div class="ion-modal-content-custom">
    <ion-content class="padding">
      <form action="">
        <div class="row">
          <div class="col">
            <div class="group">
              <input type="text" id="name" name="name" ng-model="project.data.title" required>
              <span class="highlight"></span>
              <span class="bar-input"></span>
              <label>Project Name</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="group">
              <input type="text" id="description" name="description" ng-model="project.data.desc" required>
              <span class="highlight"></span>
              <span class="bar-input"></span>
              <label>Core Objective</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="group">
              <input type="date" id="description" name="description" ng-model="startDate" required>
              <span class="highlight"></span>
              <span class="bar-input"></span>
              <label>Start Date</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="group">
              <input type="date" id="description" name="description" ng-model="endDate" required>
              <span class="highlight"></span>
              <span class="bar-input"></span>
              <label>End Date</label>
            </div>
          </div>
        </div>


        <button type="button" class="button button-medium button-calm" type="button"
                ng-click="createProject(project.data.title, project.data.desc, startDate, endDate)">
          Create Project
        </button>
      </form>
    </ion-content>
  </div>
</ion-modal-view>
