<ion-modal-view class="ion-nifty-modal">
  <ion-header-bar class="bar-calm">
    <h1 class="title">Message</h1>
    <div class="button button-clear" ng-click="closeModal()"><span class="icon ion-close"></span></div>
  </ion-header-bar>
  <div class="ion-modal-content-custom">
    <ion-content class="padding">
    	<br>
        <div class="row">
          <div class="col">
            <div class="group">
              <textarea ng-model="textMessage" name="message" id="message-body" style="width: 100%;" rows="12"></textarea>
              <span class="highlight"></span>
              <span class="bar-input"></span>
              <label class="label-date">Your Message</label>
            </div>
          </div>
        </div>
      <center>
        <button type="button" ng-click="sendMessage(id, textMessage)" class="button button-medium button-calm" type="button">
          Send message
        </button>
      </center>
    </ion-content>
  </div>
</ion-modal-view>
