<ion-modal-view class="ion-nifty-modal">
  <ion-header-bar class="bar-calm">
    <h1 class="title">{{module.title}}</h1>
    <div class="button button-clear" ng-click="closeModal()"><span class="icon ion-close"></span></div>
  </ion-header-bar>
  <div class="ion-modal-content-custom">
    <ion-content class="padding">
      <div class="list-card">
        <div class="item"><h3>Core objective: </h3></div>
        <div class="item item-body">
          {{module.desc}}
        </div>
      </div>

      <div class="list-card">
        <div class="item"><h3>Start Date: </h3></div>
        <div class="item item-body">
          {{module.start | date : "MMMM dd, y"}}
        </div>
      </div>

      <div class="list-card">
        <div class="item"><h3>End Date: </h3></div>
        <div class="item item-body">
          {{module.end | date : "MMMM dd, y"}}
        </div>
      </div>

      <div class="list-card">
        <div class="item"><h3>Percentage: </h3></div>
        <div class="item item-body">
          {{module.percentage}}%
        </div>
      </div>
    </ion-content>
  </div>
</ion-modal-view>
