<ion-modal-view class="ion-nifty-modal">
  <div class="ion-modal-content-custom">
    <ion-content class="padding">
      <button class="button button-medium button-stable" ng-click="closeModal()" type="button">
        Cancel
      </button>
      <!-- Insert Project Summary data here -->
      <div class="list-card">
        <div class="item">
          <h3>Title: </h3>{{project.title}}
        </div>

        <div class="item item-body">
          <h3>Description: </h3>{{project.desc}}
        </div>
      </div>
    </ion-content>
  </div>
</ion-modal-view>
