<ion-modal-view class="ion-nifty-modal">
  <ion-header-bar class="bar-calm">
    <h1 class="title">Update Information</h1>
    <div class="button button-clear" ng-click="close()"><span class="icon ion-close"></span></div>
  </ion-header-bar>
  <div class="ion-modal-content-custom">
    <ion-content class="padding">
      <form action="">
        <div class="row">
          <div class="col">
            <div class="group">
              <input type="text" id="name" name="name" style="color:#fff;" ng-model="user[0].first_name" required autocomplete="off">
              <span class="highlight"></span>
              <span class="bar-input"></span>
              <label>First Name</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="group">
              <input type="text" id="description" name="description" style="color:#fff;" ng-model="user[0].last_name" required autocomplete="off">
              <span class="highlight"></span>
              <span class="bar-input"></span>
              <label>Last Name</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="group">
              <input type="text" id="description" name="description" style="color:#fff;" ng-model="user[0].occupation" required autocomplete="off">
              <span class="highlight"></span>
              <span class="bar-input"></span>
              <label>Occupation</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="group">
              <input type="text" id="description" name="description" style="color:#fff;" ng-model="user[0].skills" required autocomplete="off">
              <span class="highlight"></span>
              <span class="bar-input"></span>
              <label>Skills</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="group">
              <input type="text" id="description" name="description" style="color:#fff;" ng-model="user[0].about_me" required autocomplete="off">
              <span class="highlight"></span>
              <span class="bar-input"></span>
              <label>About Me</label>
            </div>
          </div>
        </div>
      <center>
        <button type="button" class="button button-medium button-calm" type="button">
          Update Profile
        </button>
      </center>
      </form>
    </ion-content>
  </div>
</ion-modal-view>
