<ion-modal-view class="ion-nifty-modal">
  <ion-header-bar class="bar-calm">
    <h1 class="title">New Project</h1>
    <div class="button button-clear" ng-click="closeModal()"><span class="icon ion-close"></span></div>
  </ion-header-bar>
  <div class="ion-modal-content-custom">
    <ion-content class="padding">
      <form action="">
        <div class="row">
          <div class="col">
            <div class="group">
              <input type="text" id="name" name="name" ng-model="project.data.title" style="color:#fff;" required autocomplete="off">
              <span class="highlight"></span>
              <span class="bar-input"></span>
              <label>Project Name</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="group">
              <input type="text" id="description" name="description" ng-model="project.data.desc" style="color:#fff;" required autocomplete="off">
              <span class="highlight"></span>
              <span class="bar-input"></span>
              <label>Core Objective</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="group">
              <!-- <input type="number" id="difficulty" name="difficulty" ng-model="difficulty" style="color:#fff;" required autocomplete="off">
              <span class="highlight"></span>
              <span class="bar-input"></span>-->
              <select class="item item-input item-select" style="width:100%;" ng-model="project.data.priority">
                <option value="1">Low</option>
                <option value="2">Moderate</option>
                <option value="3">High</option>
              </select>
              <label class="label-date">Priority Level</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="group">
              <input type="date" id="start" name="start" ng-readonly="true" ng-model="startDate"  ng-click="openDatePicker('start')" style="color:#000;" required autocomplete="off">
              <span class="highlight"></span>
              <span class="bar-input"></span>
              <label class="label-date">Start Date</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="group">
              <input type="date" id="end" name="end" ng-readonly="true" ng-model="endDate"  ng-click="openDatePicker('end')" style="color:#000;" required autocomplete="off">
              <span class="highlight"></span>
              <span class="bar-input"></span>
              <label class="label-date">End Date</label>
            </div>
          </div>
        </div>

        <center>
        <button type="button" class="button button-medium button-calm" type="button"
                ng-click="saveProject(project.data.title, project.data.desc, 'ongoing', startDate, endDate, project.data.priority)">
          Create Project
        </button>
      </center>
      </form>
    </ion-content>
  </div>
</ion-modal-view>
