<ion-modal-view class="ion-nifty-modal">
  <ion-header-bar class="bar-calm">
    <h1 class="title">Edit Project</h1>
    <div class="button button-clear" ng-click="closeModal()"><span class="icon ion-close"></span></div>
  </ion-header-bar>
  <div class="ion-modal-content-custom">
    <ion-content class="padding">
      <form action="" name="formchecker">
        <div class="row">
          <div class="col">
            <div class="group">
              <input type="text" id="name" name="name" ng-model="project.title" style="color:#fff;" required autocomplete="off">
              <span class="highlight"></span>
              <span class="bar-input"></span>
              <label>Title</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="group">
              <input type="text" id="description" name="description" ng-model="project.desc" style="color:#fff;" required autocomplete="off">
              <span class="highlight"></span>
              <span class="bar-input"></span>
              <label>Description</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="group">
              <input type="number" id="description" name="description" ng-model="project.budget" style="color:#fff;" required autocomplete="off">
              <span class="highlight"></span>
              <span class="bar-input"></span>
              <label>Budget</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="group">
              <input type="text" id="description" name="description" ng-model="project.vendor" style="color:#fff;" required autocomplete="off">
              <span class="highlight"></span>
              <span class="bar-input"></span>
              <label>Vendor/Client</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="group">
              <!-- <input type="number" id="difficulty" name="difficulty" ng-model="difficulty" style="color:#fff;" required autocomplete="off">
              <span class="highlight"></span>
              <span class="bar-input"></span>-->
              <select class="item item-input item-select" style="width:100%;" ng-model="project.priority" required>
                <option value="1" ng-selected="project.priority == 1">Low</option>
                <option value="2" ng-selected="project.priority == 2">Moderate</option>
                <option value="3" ng-selected="project.priority == 3">High</option>
              </select>
              <label class="label-date">Priority Level</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="group">
              <input type="date" id="end" name="end" ng-readonly="true" ng-model="project.start" ng-click="editDatePicker('start')" required autocomplete="off">
              <span class="highlight"></span>
              <span class="bar-input"></span>
              <label class="label-date">Date Range (Start):</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="group">
              <input type="date" id="end" name="end" ng-readonly="true" ng-model="project.end" ng-click="editDatePicker('end')" required autocomplete="off">
              <span class="highlight"></span>
              <span class="bar-input"></span>
              <label class="label-date">Date Range (End):</label>
            </div>
          </div>
        </div>

        <center>
        <button type="button" class="button button-medium button-calm" ng-disabled="formchecker.$invalid"
                ng-click="updateProject(project.id, project.title, project.desc, project.budget, project.vendor, project.start, project.end, project.priority)">
          Update Project
        </button>
      </center>
      </form>
    </ion-content>
  </div>
</ion-modal-view>
