<ion-modal-view class="ion-nifty-modal">
  <ion-header-bar class="bar-calm">
    <h1 class="title">New Module</h1>
    <div class="button button-clear" ng-click="closeModal()"><span class="icon ion-close"></span></div>
  </ion-header-bar>
  <div class="ion-modal-content-custom">
    <ion-content class="padding">
      <form action="" name="formchecker">
        <div class="row">
          <div class="col">
            <div class="group">
              <input type="text" id="name" name="name" ng-model="vm.modal.name" style="color:#fff;" required autocomplete="off">
              <span class="highlight"></span>
              <span class="bar-input"></span>
              <label>Title</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="group">
              <input type="text" id="description" name="description" ng-model="vm.modal.description" style="color:#fff;" required autocomplete="off">
              <span class="highlight"></span>
              <span class="bar-input"></span>
              <label>Description</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="group">
              <!--<input type="number" id="percentage" name="percentage" ng-model="percentage" min="0" max="{{remainingPercentage}}" style="color:#fff;" required autocomplete="off">-->
              <!--<span class="highlight"></span>-->
              <!--<span class="bar-input"></span>-->
              <input type="range" min="1" max="{{vm.availablePercentage}}" value="{{vm.modalpercentage}}" ng-model="vm.modal.percentage">
              <label class="label-date">Percentage</label>
              <!--<label>Percentage</label>-->
              <span style="color:#fff;">Taken percent: {{vm.modal.percentage}}% Max percent: {{vm.availablePercentage}}%</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="group">
              <!-- <input type="number" id="difficulty" name="difficulty" ng-model="difficulty" style="color:#fff;" required autocomplete="off">
              <span class="highlight"></span>
              <span class="bar-input"></span>-->
              <select class="item item-input item-select" style="width:100%;" ng-model="vm.modal.priority" required>
                <option value="" selected="selected" hidden disabled>Select priority level</option>
                <option value="1">Low</option>
                <option value="2">Moderate</option>
                <option value="3">High</option>
              </select>
              <label class="label-date">Priority Level</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="group">
              <!-- <input type="number" id="difficulty" name="difficulty" ng-model="difficulty" style="color:#fff;" required autocomplete="off">
              <span class="highlight"></span>
              <span class="bar-input"></span>-->
              <select class="item item-input item-select" style="width:100%;" required ng-model="vm.modal.risk">
                <option value="" selected="selected" hidden disabled>Select risk level</option>
                <option value="1">Low</option>
                <option value="2">Moderate</option>
                <option value="3">High</option>
              </select>
              <label class="label-date">Risk Level</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="group">
              <input id="start-date" type="date" name="start-date" ng-readonly="true" ng-model="start" ng-click="openDatePicker('start')" style="color:#000;" required autocomplete="off">
              <span class="highlight"></span>
              <span class="bar-input"></span>
              <label class="label-date">Date Range (Start):</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="group">
              <input type="date" id="end-date" name="end-date" ng-readonly="true" ng-model="end" ng-click="openDatePicker('end')" style="color:#000;" required autocomplete="off">
              <span class="highlight"></span>
              <span class="bar-input"></span>
              <label class="label-date">Date Range (End):</label>
            </div>
          </div>
        </div>

        <center>
        <button type="button" class="button button-medium button-calm" ng-disabled="formchecker.$invalid"
                ng-click="vm.saveModule(start, end)">
          Add Module
        </button>
      </center>
      </form>
    </ion-content>
  </div>
</ion-modal-view>
