<ion-modal-view class="ion-nifty-modal">
  <ion-header-bar class="bar-calm">
    <h1 class="title">Edit Module</h1>
    <div class="button button-clear" ng-click="closeModal()"><span class="icon ion-close"></span></div>
  </ion-header-bar>
  <div class="ion-modal-content-custom">
    <ion-content class="padding">
      <form action="">
        <div class="row">
          <div class="col">
            <div class="group">
              <input type="text" id="name" name="name" ng-model="data.title" style="color:#fff;" required autocomplete="off">
              <span class="highlight"></span>
              <span class="bar-input"></span>
              <label>Module Name</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="group">
              <input type="text" id="description" name="description" ng-model="data.description" style="color:#fff;" required autocomplete="off">
              <span class="highlight"></span>
              <span class="bar-input"></span>
              <label>Core Objective</label>
            </div>
          </div>
        </div>
        <!-- <div class="row">
          <div class="col">
            <div class="group">
              <input type="number" id="percentage" name="percentage" ng-model="percentage" min="0" max="{{remainingPercentage}}" style="color:#fff;" required autocomplete="off">
              <span class="highlight"></span>
              <span class="bar-input"></span>
               <span>1</span>
              <input type="range" min="1" max="{{remainingPercentage + data.percentage}}" value="{{data.newPercentage}}" ng-model="data.newPercentage">
              <h4>Percentage: {{data.newPercentage}}%</h4>
              <span>{{remainingPercentage + data.percentage}}</span>
              <label>Percentage</label>
             </div>
          </div>
        </div> -->
        <div class="row">
          <div class="col">
            <div class="group">
              <!-- <input type="number" id="difficulty" name="difficulty" ng-model="difficulty" style="color:#fff;" required autocomplete="off">
              <span class="highlight"></span>
              <span class="bar-input"></span>-->
              <select class="item item-input item-select" style="width:100%;" ng-model="data.priority">
                <option value="1" ng-selected="data.priority == 1">Low</option>
                <option value="2" ng-selected="data.priority == 2">Moderate</option>
                <option value="3" ng-selected="data.priority == 3">High</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="group">
              <input type="date" id="end-date" name="end-date" ng-readonly="true" ng-model="data.end" ng-click="openDatePicker(project, 'end')" style="color:#000;" required autocomplete="off">
              <span class="highlight"></span>
              <span class="bar-input"></span>
              <label class="label-date">End Date</label>
            </div>
          </div>
        </div>

        <center>
        <button type="button" class="button button-medium button-calm" type="button"
                ng-click="updateModule(module.id, data.title, data.priority, data.end, data.description)">
          Update Module
        </button>
      </center>
      </form>
    </ion-content>
  </div>
</ion-modal-view>
